/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  /*start landing*/
.landing{
background-image: url(../images/back3.jpg);
background-size: cover;
color: white;
position: relative;
height: 100vh;
}


.landing .container img{
  width: 350px;
  height: 350px;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}
@media(max-width: 767px){
  .landing .container img{
    width: 165px;
    height: 165px;
  }
}




.landing .container .main-box .sub-box{
  display: flex;
    justify-content: center;
    padding: 35px 0;
    align-items: center;
}
@media(max-width: 767px){
  .landing .container .main-box .sub-box{
    padding: 11px 0;
    justify-content: flex-start;
  }
}
.landing .container .main-box .sub-box i{
  margin-right: 20px;
  font-size: 30px;
  transition: 0.3s;
}
.landing .container .main-box .sub-box i:hover{
  color: red;
  
}
.landing .container .main-box .sub-box a{
  color: white;
  text-decoration: none;
  font-size: 22px;
  transition: 0.3s;
  font-family: 'Cinzel', serif;

}
@media(max-width: 767px){
  .landing .container .main-box .sub-box i,
  .landing .container .main-box .sub-box a{
    font-size: 17px;
  }
}
@media(max-width: 316px){
  .landing .container .main-box .sub-box i,
  .landing .container .main-box .sub-box a{
    font-size: 14px;
  }
}
.landing .container .main-box .sub-box a:hover{
  color: red;
}
.landing .container .text{
  font-family: 'Cinzel', serif;
  padding: 25px 0px;
}
.landing .container .text:hover{
  color: darkslateblue;
}



  /*end landing*/